<header class="bg-white shadow-md w-full">
  <div class="container mx-auto px-4 py-4">
    <div class="flex flex-col sm:flex-row items-center">
      <a routerLink="/" class="mb-3 sm:mb-0">
        <img src="https://www.envoituresimone.com/packs/media/images/logo-799cc6b9049e7e56d573120ec02c5eb5.svg" alt="En Voiture Simone" class="h-10">
      </a>
      <h1 class="text-xl font-semibold text-gray-800 sm:ml-4">Gestion des examens</h1>
    </div>
  </div>
</header>

<div class="container mx-auto px-4 py-6">
  <router-outlet></router-outlet>
</div>